/* Universal Styling */
body {
    background-color: #424242;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: clamp(2.625rem, 0.0682rem + 12.7841vw, 8.25rem);
    margin-top: 60px;
}

h2 {
    font-size: clamp(1.125rem, 0.6136rem + 2.5568vw, 2.25rem);
}

h3 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: clamp(2.25rem, 1.6818rem + 2.8409vw, 3.5rem);
    margin-top: 2.5rem;
}

p {
    font-size: 12px;
}

label {
    color: #c6c5c5;
    font-weight: bold;
}

.input-field>label {
    color: #c6c5c5;
    font-weight: normal;
}

.direct {
    font-size: 16px;
}

.direct a {
    text-decoration: underline;
}

.arrow {
    margin: 20px 0;
    font-size: 20px;
}

/* Index Styling */
.sort-btn {
    font-size: clamp(0.625rem, 0.4545rem + 0.8523vw, 1rem);
    margin: 5px;
}

/* Form Styling */
input {
    font-size: clamp(1rem, 0.9432rem + 0.2841vw, 1.125rem);
}

/* Flashes styling*/
.flashes {
    font-size: 20px;
    line-height: 40px;
    width: 80%;
}

/* Nav Bar Styling */
.brand-logo {
    margin: 0 20px;
    font-family: "Fredericka the Great", sans-serif;
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
    margin: 0 20px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.links {
    font-size: 16px;
}

/* Card Panel Styling*/

.bold {
    font-weight: bold;
}

.book-title,
.author {
    font-size: 18px;
}

.entry-title {
    font-size: 16px;
}

.genre,
.review,
.book-info,
.recommended i {
    font-size: 14px;
}

.user-info {
    font-size: 12px;
}

.recommended i {
    margin-left: 2.5rem;
}

/* Profile Styling */
.profile-message {
    padding: 60px 0;
}

.profile-buttons {
    margin-bottom: 200px;
}

.profile-buttons a {
    margin: 10px;
}

/* Register Page Styling */
.register-card {
    box-shadow: none;
    background: #fafafa;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
}

/* General Button Styling */
.btn-large {
    border-radius: 40px;
    margin: 20px 10px;
}

.crud-btn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.crud-btn a {
    border-radius: 40px;
    margin-right: 10px;
}

/* Dropdown Genre Option*/
.select-dropdown {
    color: #f7aaaa;
    font-weight: bold;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: #fafafa;
    background-color: #FF5252;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #FF5252;
}

/*Date Picker*/
.datepicker-date-display {
    background-color: #212121;
}

.datepicker-calendar-container {
    background-color: #212121;
    color: #fafafa;
}

.datepicker-date-display {
    color: #fafafa;
}

.datepicker-table td.is-selected {
    background-color: #FF5252;
    color: #fafafa;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #ef9a9a;
}

.datepicker-clear {
    color: #FF5252;
}

.datepicker-table abbr {
    text-decoration: none;
    color: #dddddd;
}

.datepicker-table td.is-today {
    color: #ef9a9a;
}

/* Lever select */
.switch label .lever:before {
    background-color: #e57373;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #E57373;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #e57373;
}

/* Mobile */
@media screen and (min-width:260px) {

    /* Index Styling */
    .container {
        margin: 0 auto;

    }

    .sort-buttons {
        margin: 80px 0 20px 0;
    }

    /* Review Card Styling*/
    .entry-container {
        display: flex;
        flex-direction: column;
    }

    .card-panel {
        box-shadow: 0px 0px 20px #fafafa2b;
        margin: 0 20px;
    }

    /*Footer Styling*/
    .links li {
        margin: 10px 0;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {

    /* Index Styling */
    .entry-container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0 20px;
    }

    .card-panel {
        margin: 20px;
        padding: 20px;
    }

    /* Button Styling */
    .btn-large {
        font-size: 22px;
        padding: 0 40px;
    }

}

/* Desktop */
@media only screen and (min-width: 1024px) {

    /* Index Styling */
    .entry-container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 0 60px;
    }

    .card-panel {
        margin: 10px;
    }

    /* Button Styling */
    .btn-large {
        font-size: 24px;
    }

    /*Footer Styling*/
    .footer-brand {
        margin-top: 20px;
    }

    .links { 
        padding-bottom: 20px;
    }
}