/* Universal Styling */
body {
    background-color: #424242;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: clamp(2.375rem, 1.1818rem + 5.9659vw, 5rem);
}

h2 {
    font-size: clamp(1.125rem, 0.7841rem + 1.7045vw, 1.875rem);
}

h3 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: clamp(2rem, 1.4886rem + 2.5568vw, 3.125rem);
}

h5 {
    font-size: ;
}

/* Flashes styling*/
.flashes {
    line-height: 40px;
    width: 80%;
    border
}

/* Nav Bar Styling */
.brand-logo {
    margin-right: 20px;
    font-family: 'Fredericka the Great', sans-serif;
}

/* Profile Styling */
.profile-message {
    box-shadow: none;
    background: none;
}

.profile-buttons a {
    margin: 10px
}

/* Register Page Styling */
.register-card {
    box-shadow: none;
    background: #fafafa;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
}


/* General Button Styling */
.btn-large {
    border-radius: 40px;
    margin: 20px 10px;
}

