{% extends "base.html" %}

{% block content %}

<h3 class="center grey-text text-lighten-4">Create Entry</h3>

<div class="row">
    <form class="col s10 offset-s1 red-text text-lighten-2" method="POST" action="{{ url_for('create_entry')}}">

        <!-- Review Title-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-pen-nib prefix"></i>
                <input name="entry_title" id="entry_title" minlength="5" maxlength="50" type="text"
                    class="validate white-text" required>
                <label for="entry_title">Review Title</label>
            </div>
        </div>

        <!-- Book Title-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-book prefix"></i>
                <input name="book_title" id="book_title" minlength="3" maxlength="100" type="text"
                    class="validate white-text" required>
                <label for="book_title">Book Title</label>
            </div>
        </div>

        <!-- Author Name-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-person prefix"></i>
                <input name="author_name" id="author_name" minlength="3" maxlength="50" type="text"
                    class="validate white-text" required>
                <label for="author_name">Author Name</label>
            </div>
        </div>

        <!-- Genre drop down selection -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fas fa-folder-open prefix"></i>
                <select id="genre_name" name="genre_name" class="validate white-text" required>
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres %}
                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
                <label for="genre_name">Book Genre</label>
            </div>
        </div>

        <!-- Review Entry -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-comment prefix"></i>
                <textarea id="review" name="review" type="textarea" minlength="5" maxlength="1000"
                    class="materialize-textarea validate white-text" required></textarea>
                <label for="review">Review</label>
            </div>
        </div>

        <!-- Date -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-calendar prefix"></i>
                <input type="text" class="datepicker white-text" id="publish_date" name="publish_date">
                <label for="publish_date">Publish Date</label>
            </div>
        </div>

        <!-- Publisher Name-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-house prefix"></i>
                <input name="publisher" id="publisher" minlength="3" maxlength="50" type="text"
                    class="validate white-text">
                <label for="publisher">Publisher Name</label>
            </div>
        </div>

        <!-- Recommendation -->
        <div class="row">
            <p class="center white-text">Would you recommend this book?</p>
            <div class="switch center">
                <label>
                    No
                    <input name="recommended" id="recommended" type="checkbox">
                    <span class="lever"></span>
                    Yes
                </label>
            </div>
        </div>

        <!-- Date -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-calendar-days prefix"></i>
                <input type="text" class="datepicker white-text" id="review_date" name="review_date" required>
                <label for="review_date">Review Date</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <button type="submit" class="col s8 offset-s2 m6 offset-m3 btn-large red lighten-3 grey-text text-darken-4">
                Save Entry
            </button>
        </div>
    </form>
</div>

{% endblock %}