{% extends "base.html" %}

{% block content %}

<h3 class="center grey-text text-lighten-4">Edit Entry</h3>

<div class="row">
    <form class="col s10 offset-s1 red-text text-lighten-2" method="POST" action="{{ url_for('edit_entry', entry_id=entry._id) }}">
        
        <!-- Review Title-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-pen-nib prefix"></i>
                <input name="entry_title" id="entry_title" minlength="5" maxlength="50" 
                    type="text" class="validate white-text" value="{{ entry.entry_title}}" required>
                <label for="entry_title">Review Title</label>
            </div>
        </div>

        <!-- Book Title-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-book prefix"></i>
                <input name="book_title" id="book_title" minlength="3" maxlength="100" 
                    type="text" class="validate white-text" value="{{ entry.book_title}}" required>
                <label for="book_title">Book Title</label>
            </div>
        </div>

        <!-- Author Name-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-person prefix"></i>
                <input name="author_name" id="author_name" minlength="3" maxlength="50" 
                type="text" class="validate white-text" value="{{ entry.author_name}}" required>
                <label for="author_name">Author Name</label>
            </div>
        </div>
        
        <!-- Genre selection -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fas fa-folder-open prefix"></i>
                <select id="genre_name" name="genre_name" class="validate" required>
                    <option value="" disabled>Choose Genre</option>
                    {% for genre in genres %}
                        {% if genre.genre_name == entry.genre %}
                            <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                        {% else %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="genre_name">Book Genre</label>
            </div>
        </div>

        <!-- Review Entry -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-comment prefix"></i>
                <textarea id="review" name="review" type="textarea" minlength="5" maxlength="1000"
                    class="materialize-textarea validate white-text" required>
                {{- entry.review -}}
                </textarea>
                <label for="review">Review</label>
            </div>
        </div>

        <!-- Publishing Date -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-calendar prefix"></i>
                <input type="text" class="datepicker white-text" id="publish_date" name="publish_date"
                    value="{{ entry.publish_date}}">
                <label for="publish_date">Publish Date</label>
            </div>
        </div>
        
        <!-- Publisher Name-->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-house prefix"></i>
                <input name="publisher" id="publisher" minlength="3" maxlength="50" 
                    type="text" class="validate white-text" value="{{ entry.publisher}}">
                <label for="publisher">Publisher Name</label>
            </div>
        </div>

        <!-- Recommendation -->
        <div class="row">
            <p class="center">Would you recommend this book?</p>
            <div class="switch center white-text">
                <label>
                    {% if entry.recommended == "on" %}
                    <input name="recommended" id="recommended" type="checkbox" checked>
                    {% else %}
                    <input name="recommended" id="recommended" type="checkbox">
                    {% endif %}
                    No
                    <span class="lever"></span>
                    Yes
                </label>
            </div>
        </div>
        
        <!-- Date -->
        <div class="row">
            <div class="input-field col s12 l10 offset-l1">
                <i class="fa-solid fa-calendar-days prefix"></i>
                <input type="text" class="datepicker white-text" id="review_date" name="review_date" 
                    value="{{ entry.review_date}}" required>
                <label for="review_date">Review Date</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center">
                <!-- cancel button -->
                <a href="{{ url_for('index')}}" class="s12 btn-large red accent-2">
                    Cancel
                </a>
                <button type="submit" class="s12 btn-large red lighten-3 grey-text text-darken-4">
                    Edit Entry
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}