{% extends "base.html" %}
{% block content %}

<div class="container s12 center">
  <div>
    <h1 class="grey-text text-lighten-4">Welcome to Jot!</h1>
    <h2 class="grey-text">A collaborative book review app</h2>
  </div>
  <div class="center home-buttons"></div>
  {% if session.user %}
  <a href="{{ 'create_entry' }}" type="button" class="white-text btn-large red accent-2">Create Entry</a>
  <br>
  {% else %}
  <a href="{{ 'register' }}" type="button" class="white-text btn-large red darken-2">Register</a>
  <a href="{{ 'login' }}" type="button" class="white-text btn-large red accent-2">Log In</a>
</div>
{% endif %}
<div class="row sort-buttons center">
  <a href="{{ url_for('index', sort_option='review_date') }}" class="sort-btn btn-small grey darken-4" onclick="toggleButton(this)">Sort by most recent</a>
  <a href="{{ url_for('index', sort_option='book_title') }}" class="sort-btn btn-small grey darken-4" onclick="toggleButton(this)">Sort by book title</a>
  <a href="{{ url_for('index', sort_option='author_name') }}" class="sort-btn btn-small grey darken-4" onclick="toggleButton(this)">Sort by author</a>
</div>
</div>

<!-- generates a card for each entry -->
<div class="entry-container center">
  {% for entry in entries %}
  <div class="card-panel grey darken-3 grey-text left-align">
    <div class="center">
      <p class="center red-text text-lighten-3 book-title">{{ entry.book_title }}
        <br>
        <span class="center red-text text-lighten-1 author">{{ entry.author_name }}</span>
      </p>
    </div>
    <p class="white-text entry-title bold">{{ entry.entry_title }}</p>
    <p>Genre
      <br>
      <span class="red-text text-lighten-3 genre">{{ entry.genre }}</span>
    </p>
    <p>Review
      <br>
      <span class="white-text review">{{ entry.review }}</span>
    </p>
    <p>Publish Date
      <br>
      <span class="red-text text-lighten-3 book-info">{{ entry.publish_date }}</span>
    </p>
    <p>Publisher
      <br>
      <span class="red-text text-lighten-3 book-info">{{ entry.publisher }}</span>
    </p>
    <p class="recommended">Recommends
      <br>
      {% if entry.recommended == "on" %}
      <i class="fa-solid fa-check teal-text text-lighten-3 bold"></i>
      {% else %}
      <i class="fa-solid fa-xmark red-text text-lighten-2 bold"></i>
      {% endif %}
    </p>
    <p class="user-info right">{{ entry.review_by }} - {{ entry.review_date }}
    </p>
    <br>
    <!-- only allows signed in users to edit and delete posts-->
    {% if session.user %}
    <div class="crud-btn">
      <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="btn-small red lighten-4"><i
          class="fa-solid fa-pencil grey-text text-darken-4"></i></a>
      <a href="{{ url_for('delete_entry', entry_id=entry._id) }}" class="btn-small red lighten-2"><i
          class="fas fa-trash-alt grey-text text-darken-3"></i></a>
    </div>
    {% else %}
    {% endif%}
  </div>
  {% endfor %}
</div>

{% endblock %}