{% extends "base.html" %}
{% block content %}

<div class="container center">
  <div>
    <h1 class="grey-text text-lighten-4">Welcome to Jot!</h1>
    <h2 class="grey-text">A collaborative book review app</h2>
  </div>
  <div class="center home-buttons"></div>
    {% if session.user %}
    <a href="{{ 'create_entry' }}" type="button" class="white-text btn-large grey darken-4">Create Entry</a>
    {% else %}
    <a href="{{ 'register' }}" type="button" class="white-text btn-large grey darken-4">Register</a>
    <a href="{{ 'login' }}" type="button" class="white-text btn-large grey darken-1">Log In</a>
  </div>
  {% endif %}

  <!-- generates a card for each entry -->
  {% for entry in entries %}
  <div class="row s12">
    <div class="col s12">
      <div class="card-panel white black-text left-align">
        <h4>{{ entry.entry_title }}</h4>
        <p>Book: <strong>{{ entry.book_title }}</strong></p>
        <p>Author: {{ entry.author_name }}</p>
        <p>Genre: {{ entry.genre }}</p>
        <p>Review: {{ entry.review }}</p>
        <p>Publish Date: {{ entry.publish_date }}</p>
        <p>Publisher: {{ entry.publisher }}</p>
        <p>Recommends:
          {% if entry.recommended == "on" %}
          <i class="fa-solid fa-check"></i>
          {% else %}
          <i class="fa-solid fa-xmark"></i>
          {% endif %}
        </p>
        <p>Review Date: {{ entry.review_date }}</p>
        <p>Reviewed by: {{ entry.review_by }}</p>

        <!-- only allows signed in users to edit and delete posts-->
        {% if session.user %}
        <div class="s12">
          <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="btn-small light-blue lighten-1">Edit</a>
          <a href="{{ url_for('delete_entry', entry_id=entry._id) }}" class="btn-small red lighten-1">Delete</a>
        </div>
        {% else %}
        {% endif%}
      </div>
    </div>

  </div>
  {% endfor %}
</div>

{% endblock %}