{% extends "base.html" %}

{% block content %}

<h3 class="center">Register</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- Username input -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Userame</label>
                </div>
            </div>
            <!-- Password input -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!--- Register -->
            <div class="row">
                <button type="submit" class="col s8 offset-m2 btn-large">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Link to log in -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already registered?
            <a href="{{ url_for('login') }}">Log in Here</a>
        </p>
    </div>
</div>

{% endblock %}